// Brand Colors
$blue: #3483fa;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e47f7e;
$orange: #fd7e14;
$yellow: #ffe600;
$green: #9fdd81;
$teal: #20c997;
$cyan: #8ae7f6;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eeeeee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999999;
$gray-700: #666666;
$gray-800: #333333;
$gray-900: #212529;
$black: #000000;

// Body
$body-bg: $gray-200;
$body-color: $gray-800;

// Fonts
$font-family-sans-serif: "Proxima Nova", Helvetica, Arial, sans-serif;
